@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
.cuadrado {
    width: 1920px;
    height: 1080px;
    background-color: white; /* Puedes cambiar el color de fondo si lo deseas */
    border:4px;
  }
  
  .cuadrado2 {
   width: 150px;
  height: 100px;
  background-color: transparent;


  }
  .container {
    position: relative;
    width: 1080px;
    margin: auto;
  }
  .backgroundperso{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    font-family: "Bruno Ace", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#041f62;
  }
  .azul{background-color: #5AAEC3;}
  .rosa{background-color: #C281E8;}
  .azulc{background-color: #5AAEC3;}
  .rosac{background-color: #C281E8;}
  body{
    background-color: white;
  }